* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../assets/background/Background_Intro.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --font-family: "Asap", sans-serif;
    --title-lg: bold 56px/120% var(--font-family);
    --title-md: bold 24px/120% var(--font-family);
    --title-sm: bold 16px/120% var(--font-family);
}

body {

    display: block;
    align-items: center;
    justify-content: center;

    border: 4px solid black;

    img {
        width: 112px;
        height: 112px;
        object-fit: cover;
        border-radius: 50%;
    }
}
